body {
  background-color: black;
  margin: 0px;
}

.white {
  background-color: white;
  padding: 20px;
}

.logo {
 height: 25px;
 width: 50px;
 padding-right: 10px;
}

.cart {
  width: 19px;
  height: 14px;
}

.right {
  color: rgb(255, 90, 50);
  text-decoration: none;
  font-family: arial, sans-serif;
  padding-right: 10px;
  float: right;
  font-size: 14px;
  padding-top: 12px;
}

.top-bar {
  color: rgb(255, 90, 50);
  text-decoration: none;
  font-family: arial, sans-serif;
  padding-right: 10px;
  font-size: 14px;
}

.orange {
  background-color: rgb(255, 80, 200);
  background: linear-gradient(to right, rgb(222, 28, 117), rgb(255, 80, 33))
}

.size {
  height: 250px;
  width: 425px;
  float: lef
}

.font {
  font-size: 35px;
  color: white;
  font-family: arial, sans-serif;
  margin-bottom: 0px;
}

.under-text {
  font-size: 13px;
  color: rgb(153, 40, 53);
  font-family: arial, sans-serif;
  margin-top: 0px
}

.small-text {
  font-size: 15px;
  color: white;
  font-family: arial, sans-serif;
}

.middle-text {
  font-size: 25px;
  font-family: arial, sans-serif;
  font-weight: bold;
  color: rgb(105, 55, 50)
}

.middle-small {
  font-size: 5px;
  font-family: arial, sans-serif;
  color: rgb(175, 125, 120);
}

.size-set {
  height: 165px;
  width: 275px;
  padding-right: 50px;
}

.funny-price {
  font-size: 25px;
  color: white;
  font-family: arial, sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
}

.margin {
  margin-top: 0px;
}

.inline {
  display: inline-block;
}

.text-pad {
  padding-right: 75px;
}

.pad {
  padding-left: 175px;
  padding-top: 30px;
  padding-bottom: 75px;
  float: left;
}

.pad-low {
  padding-top: 75px;
  padding-left: 200px;
  padding-bottom: 75px;
}

.pad-left {
  padding-left: 20px;
}

a:hover {
  color: rgb(181, 48, 10);
  border-bottom: 2px solid rgb(250, 190, 190);
}

.back-shoes {
  font-family: arial, sans-serif;
  color: white;
}

.mid-white {
  background-color: white;
  padding-left: 175px;
  padding-top: 10px;
  padding-bottom: 10px;
}
